<html>
<head>
<link rel="stylesheet" type="text/css" href="/styles.css">
<title>Input</title>
</head>
<body>

#parse("/velocity/snippets/OptionsPicker.vm")

<form action="/game_code" method="post">
<input type="text" name="gameId" />
<button type="submit">Submit</button>
</form>
#if($showreadonly == true)
	#parse("/velocity/snippets/ScoreSheet.vm");
#end
</body>
</html>