.score-sheet {
	max-width: 70%;
	height:160px;
	display: flex;
}
.frame-outer {
	margin-right: 7px;
}

.frame-header {
    background: #000000;
    min-height: 30px;
    width: 100%;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
	height: 100%;
	border: 1px solid #000;
	width: 120px;
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.frame > input, .frame > span.roll {
	height: 40px;
	width: 40px;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: #000;
	text-align: center;
    font-size: 36px;
}

.frame > .total_score {
	position: absolute;
	bottom: 0;
	font-size: 72px;
	padding-right: 7px;
}

div.submit {
	margin-top: 35px;
}
